button {
  width: 100%;
  padding: 1em 1.5em;
  border: none;
  font-size: 1.1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.main-but {
  background-color: var(--main-color);
  color: var(--light-color);

  &:hover {
    background-color: var(--black-color);
    color: var(--main-color);
  }
}

.sub-but {
  background-color: var(--black-color);
  color: var(--main-color);

  &:hover {
    background-color: var(--main-color);
    color: var(--light-color);
  }
}

.download-but {
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 0;

  a {
    text-decoration: none;
    color: var(--light-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;

  }

  &:hover {
    background-color: var(--black-color);
    color: var(--main-color);
  }
}