@import '../../breakPoints.scss';

.hero {
  width: 100%;
  background-image: linear-gradient(to right, var(--gray-color)50%, var(--light-color)50%);
  height: 100vh;

  @include breakPoints(mobile) {
    background-image: linear-gradient(to top, var(--black-color)30%, var(--light-color)70%);
    height: 100%;
    padding: var(--section-m-b) 0;
  }

  @include breakPoints(small) {
    background-image: linear-gradient(to top, var(--black-color)30%, var(--light-color)70%);
    height: 100%;
    padding: var(--section-m-b) 0;

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @include breakPoints(mobile) {
      flex-direction: column;
      padding-top: 7em;
    }

    @include breakPoints(small) {
      padding-top: 7em;
    }

    .img-side {
      width: 50%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


      @include breakPoints(mobile) {
        width: 100%;
        height: 100%;
        margin-bottom: 2em;
      }

      @include breakPoints(small) {
        width: 30%;
        height: max-content;
      }

      .wrapper {
        background-color: var(--black-color);
        width: 50%;

        @include breakPoints(mobile) {
          width: 70%;
          height: 100%;
        }

        @include breakPoints(small) {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }


      button {
        max-width: 50%;

        @include breakPoints(mobile) {
          max-width: 70%;
        }

        @include breakPoints(small) {
          max-width: 100%;
        }
      }
    }

    .info {
      width: 50%;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-left: 5em;

      @include breakPoints(mobile) {
        width: 100%;
        justify-content: flex-start;
        padding: 0;
        height: 100%;
      }

      @include breakPoints(small) {
        width: 70%;
        height: max-content;

      }

      h1 {
        color: var(--main-color);
        font-size: 4em;
        text-align: left;
        margin-bottom: 0.5em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.467);


        @include breakPoints(mobile) {
          font-size: 2em;
          color: var(--main-color);
          text-align: center;
        }

        @include breakPoints(small) {
          font-size: 3em;

        }
      }

      p {
        font-weight: 400;
        line-height: 2;
        margin-bottom: 1em;
        font-size: 1.2em;

        @include breakPoints(mobile) {
          width: 100%;
          color: var(--light-color);
          font-size: 1em;
        }

        @include breakPoints(small) {
          width: 100%;
          color: var(--light-color);
        }
      }

      i {
        color: var(--black-color);

        @include breakPoints(mobile) {
          color: var(--main-color);
        }

        @include breakPoints(small) {
          color: var(--main-color);
        }
      }
    }
  }
}