@import '../../breakPoints.scss';

.edu-trn {
  width: 100%;
  background-color: var(--black-color);
  padding: var(--section-m-b) 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .edc,
    .trn {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;


      .edc-info,
      .trn-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
        gap: 2em;

        @include breakPoints(mobile) {
          grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
          gap: 1em;
        }

        .info {
          margin-bottom: 1.5em;
          padding: 0 0 0.5em 2em;
          // border-bottom: 1px solid #c9c9c96c;
          width: 100%;

          b {
            color: var(--light-color);
            font-weight: 400;
            padding: 0.5em;
            background-color: var(--gray-color);
            border-radius: 10px;
            margin-bottom: 1em;
            display: inline-block;

            @include breakPoints(mobile) {
              font-size: 0.8em;
              padding: 0.5em 0.8em;
            }
          }

          h2 {
            color: var(--light-color);
            font-size: 1.5em;
            font-weight: 400;
            margin-bottom: 0.5em;
            position: relative;

            @include breakPoints(mobile) {
              font-size: 1.2em;
            }

            i {
              position: absolute;
              top: 1rem;
              left: -2rem;
              font-size: 1em;
              color: var(--main-color);
              transform: translate(-50%, -50%);
              background-color: var(--gray-color);
              border-radius: 50%;
              padding: 0.2em;
              display: flex;
              align-items: center;
              justify-content: center;

              @include breakPoints(mobile) {
                left: -1.3em;
                top: 0.8rem;
              }
            }

            span {
              color: var(--main-color);
            }
          }

          p {
            color: var(--light-color);
            text-transform: capitalize;

            @include breakPoints(mobile) {
              font-size: 0.8em;
            }
          }
        }
      }

      .trn-info {
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 2em;

        @include breakPoints(mobile) {
          gap: 0;
        }
      }
    }

  }

  hr {
    height: 2px;
    width: 80%;
    margin: 2em auto;
    border: none;
    background-color: var(--main-color);
    opacity: 0.5;
  }
}